html,
body {
    height: 100%;
}

#erleme {
    height: 100%;
    display: flex;
    flex-direction: column;

    header {
        height: 2.533333rem;
        background: #0097fe;
        position: relative;

        p {

            span:nth-child(2) {
                margin-left: .16rem;
                line-height: 1.386667rem;
                color: #fff;
                font-size: .426667rem;
            }

            span:nth-child(1) img {
                width: .453333rem;
                height: .426667rem;
                margin-left: .373333rem;
                color: #fff;
            }

            span:nth-child(3) {
                border: .133333rem solid transparent;
                border-top-color: #fff;
                position: absolute;
                top: .666667rem;
                left: 4.293333rem;
            }

        }

        section {
            width: 9.253333rem;
            height: .96rem;
            background: #fff;
            margin: auto;
            position: relative;

            p {
                span:nth-child(2) {

                    text-align: center;
                    line-height: .96rem;
                    color: #9c9c9c;
                    font-size: .346667rem;
                    margin-left: 2.8rem;
                }

                span:nth-child(1) img {
                    position: absolute;
                    top: .266667rem;
                    left: 1.866667rem;
                }
            }
        }
    }

    main {
        flex: 1;

        .main1 {
            width: 10rem;
            height: 4.666667rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;


            .list1 {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;

                li {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 1.013333rem;
                        height: .773333rem;
                        margin-bottom: .32rem;
                    }

                    span {
                        font-size: .293333rem;
                        color: #707070;
                    }
                }
            }

            .list2 {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;

                li {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 1.013333rem;
                        height: .773333rem;
                        margin-bottom: .32rem;
                    }

                    span {
                        font-size: .293333rem;
                        color: #707070;
                    }
                }
            }
        }

        .main2 {
            width: 9.466667rem;
            height: 2.933333rem;
            background: #f6f6f6;
            margin: auto;
            position: relative;
            overflow: hidden;

            h2 {
                font-size: .426667rem;
                margin-top: .373333rem;
                margin-left: .426667rem;
            }

            p {
                margin-left: .426667rem;
            }

            p:nth-child(2) {
                margin-top: .24rem;
                font-size: .32rem;
                color: #919191;
            }

            p:nth-child(3) {
                font-size: .293333rem;
                color: #a68461;
                margin-top: .32rem;
            }

            img {
                width: 3.626667rem;
                height: 2.026667rem;
                position: absolute;
                top: .4rem;
                right: .453333rem;
            }
        }

        .main3 {
            width: 9.466667rem;
            height: 1.066667rem;
            background: #f7e2ab;
            margin: auto;
            margin-top: .08rem;
            position: relative;
            margin-bottom: .08rem;

            img {
                width: .453333rem;
                height: .453333rem;
                position: absolute;
                left: .4rem;
                top: .306667rem;

            }

            span:nth-child(2) {
                font-size: .346667rem;
                color: #65511e;
                margin-left: 1.066667rem;
                line-height: 1.066667rem;
            }

            span:nth-child(3) {
                font-size: .266667rem;
                color: #776533;
            }

            span:nth-child(4) {
                position: absolute;
                right: 18px;
                line-height: 1.066667rem;
                font-size: .266667rem;
                color: #67521d;
            }
        }

        .banner {
            margin: auto;
            width: 9.466667rem;
            height: 2.346667rem;

            img {
                width: 9.466667rem;
                height: 2.346667rem;

            }
        }

        .main4 {
            height: 2.693333rem;
            // background: brown;

            h2 {
                text-align: center;
                padding-top: .506667rem;
                font-size: .373333rem;
            }

            .list3 {
                margin-top: .64rem;
                display: flex;
                justify-content: space-around;

                li {
                    font-size: .346667rem;
                    color: #656565;
                }

                li:nth-child(1) span {
                    position: relative;

                    span {
                        position: absolute;
                        border: .106667rem solid transparent;
                        border-top-color: #353535;
                        top: .213333rem;
                        left: 1.533333rem;
                    }
                }
            }
        }

        .main5 {
            height: 3.893333rem;
            display: flex;

            .left {
                width: 1.733333rem;
                height: 1.733333rem;
                border: 1px solid #f4f4f4;
                padding:.24rem;
                margin-left: .266667rem;
                margin-right: .266667rem;
                
                img {
                    width: 1.2rem;
                    height: 1.306667rem;
                    margin-top: .266667rem;
                    margin-left: .266667rem;
                }
            }
            .right{

                h2{
                    span:nth-last-child(2) img{
                        width: .72rem;
                        height: .506667rem;
                    }
                    
                    span:nth-child(2){
                        font-size: .373333rem;
                        color:#323232;
                    }
                }
                
                .list4{
                    display: flex;
                    margin-top: .32rem;

                    li{
                        font-size: .266667rem;
                        color:#646464;
                        border-right: 1px solid #646464;
                        padding-right: .08rem;
                    }

                    li:nth-child(2){
                        margin-left: .106667rem;
                    }
                }

                .list5{
                    display: flex;
                    margin-top: .32rem;
                    
                    
                    li{
                        font-size: .266667rem;
                        color:#393939;
                        border:1px solid #dcdcdc;
                        padding:.053333rem;
                        margin-right: .08rem;
                    }
                }

                .list6{
                    margin-top: .56rem;

                    li{
                        font-size: .266667rem;
                        color:#6a6a6a;
                        line-height: .56rem;
                    }    
                }
            }
        }
    }

    footer {
        height: 1.466667rem;

        .bottom {
            display: flex;


            li {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span {
                    margin-top: .133333rem;
                    font-size: .266667rem;
                    color: #b9b9bb;
                }

                img {
                    width: .48rem;
                    height: .48rem;
                    margin-top: .293333rem;
                }
            }

            li:nth-child(1) span {
                color: #4594cc;
                margin-top: .133333rem;
                font-size: .266667rem;
            }
        }
    }
}