* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#kaiyuan {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#kaiyuan .ky-header {
  height: 140px;
  background: cadetblue;
  display: flex;
  justify-content: center;
  background: url(../images/01.png) no-repeat center 20%;
}

#kaiyuan .ky-header .list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  border-top: 1px solid #ebebeb;
  margin-top: 106px;
}

#kaiyuan .ky-header .list li {
  font-size: 12px;
  color: #505050;
  margin-bottom: 12px;
  margin-right: 46px;
}

#kaiyuan .ky-header .list li:hover {
  border-bottom: 1px solid orangered;
}

#kaiyuan .ky-main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #ebebeb;
}

#kaiyuan .ky-main .ky-section {
  width: 47%;
  height: 100%;
  padding-top: 36px;
}

#kaiyuan .ky-main .ky-section .left1 {
  height: 6%;
  margin-right: 15px;
  background: #fff;
  padding-top: 40px;
  padding-left: 36px;
  padding-right: 46px;
  margin-bottom: 36px;
}

#kaiyuan .ky-main .ky-section .left1 h2 {
  font-size: 34px;
  text-align: center;
  padding-top: 20px;
}

#kaiyuan .ky-main .ky-section .left1 p:not(.aa) {
  font-size: 17px;
  color: #444443;
}

#kaiyuan .ky-main .ky-section .left1 .list {
  width: 86px;
  height: 36px;
  background: #e67e22;
  text-align: center;
  margin-top: 36px;
}

#kaiyuan .ky-main .ky-section .left1 .list p {
  font-size: 17px;
  color: #fff;
  line-height: 36px;
  border-bottom: none;
}

#kaiyuan .ky-main .ky-section .left1 section {
  margin-top: 30px;
  border-bottom: 1px solid #ebebeb;
}

#kaiyuan .ky-main .ky-section .left1 .aa {
  padding-bottom: 42px;
}

#kaiyuan .ky-main .ky-section .left1 .aa span:nth-child(1),
#kaiyuan .ky-main .ky-section .left1 .aa span:nth-child(3) {
  font-size: 12px;
}

#kaiyuan .ky-main .ky-section .left1 .aa span:nth-child(2) {
  font-size: 14px;
  color: orangered;
}

#kaiyuan .ky-main .ky-section .left1:nth-child(1) p {
  text-align: center;
}

#kaiyuan .ky-main .ky-section2 {
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#kaiyuan .ky-main .ky-section2 .right {
  height: 3%;
  background: #fff;
  margin-top: 36px;
  padding-left: 30px;
  padding-top: 22px;
  margin-bottom: 36px;
}

#kaiyuan .ky-main .ky-section2 .right h3 {
  font-size: 20px;
  color: #505050;
  margin-bottom: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

#kaiyuan .ky-main .ky-section2 .right p {
  font-size: 12px;
  line-height: 22px;
}

#kaiyuan .ky-main .ky-section2 .right p:nth-child(3),
#kaiyuan .ky-main .ky-section2 .right p:nth-child(4) {
  color: #f6b23d;
}

#kaiyuan .ky-main .ky-section2 .right2 {
  width: 360px;
  height: 132px;
  background: #fff;
  padding-left: 30px;
  padding-top: 22px;
  margin-bottom: 36px;
}

#kaiyuan .ky-main .ky-section2 .right2 h3 {
  font-size: 20px;
  color: #505050;
  margin-bottom: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

#kaiyuan .ky-main .ky-section2 .right2 .bottom {
  width: 300px;
  height: 36px;
  background: #e67e22;
  border-radius: 3px;
}

#kaiyuan .ky-main .ky-section2 .right2 .bottom p {
  color: #fff;
  text-align: center;
  line-height: 36px;
}

#kaiyuan .ky-main .ky-section2 .right3 {
  width: 360px;
  height: 300px;
  background: #fff;
  padding-left: 30px;
  padding-top: 22px;
  margin-bottom: 36px;
}

#kaiyuan .ky-main .ky-section2 .right3 h3 {
  font-size: 20px;
  color: #505050;
  margin-bottom: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

#kaiyuan .ky-main .ky-section2 .right3 p {
  margin-bottom: 22px;
  font-size: 14px;
}

#kaiyuan .ky-main .ky-section2 .right3 p span {
  border: 1px solid #ebebeb;
  padding: 6px;
}

#kaiyuan .ky-main .ky-section2 .right3 p span:hover {
  background: #e67e22;
}

#kaiyuan .ky-footer {
  height: 450px;
}

#kaiyuan .ky-footer .top {
  height: 370px;
  background: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#kaiyuan .ky-footer .top .list3 {
  margin-right: 86px;
}

#kaiyuan .ky-footer .top .list3 h5 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 38px;
  padding-bottom: 10px;
  border-bottom: 1px solid #303030;
}

#kaiyuan .ky-footer .top .list3 section {
  margin-top: 20px;
}

#kaiyuan .ky-footer .top .list3 section p {
  font-size: 12px;
  color: #959595;
}

#kaiyuan .ky-footer .top .list3 section p:not(.bb):nth-child(2) {
  color: #505050;
  padding-bottom: 20px;
  border-bottom: 1px dashed #505050;
}

#kaiyuan .ky-footer .top .list4 {
  padding-left: 30px;
  padding-top: 22px;
  margin-bottom: 36px;
  margin-right: 86px;
}

#kaiyuan .ky-footer .top .list4 h6 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid #303030;
}

#kaiyuan .ky-footer .top .list4 p {
  margin-bottom: 22px;
  font-size: 12px;
}

#kaiyuan .ky-footer .top .list4 p span {
  border: 1px solid #959595;
  padding: 6px;
  color: #959595;
}

#kaiyuan .ky-footer .top .list4 p span:hover {
  background: #e67e22;
  color: #fff;
}

#kaiyuan .ky-footer .top .list5 h3 {
  font-size: 20px;
  margin-top: 40px;
  color: #fff;
  margin-bottom: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid #303030;
}

#kaiyuan .ky-footer .top .list5 section {
  border-bottom: 1px dashed #505050;
  margin-bottom: 20px;
}

#kaiyuan .ky-footer .top .list5 section p {
  margin-bottom: 22px;
  font-size: 12px;
}

#kaiyuan .ky-footer .top .list5 section p span {
  margin-right: 24px;
  padding: 6px;
  color: #959595;
}

#kaiyuan .ky-footer .bottom3 {
  height: 80px;
  background: #000;
}

#kaiyuan .ky-footer .bottom3 p {
  color: #555555;
  text-align: center;
  line-height: 80px;
}

@media all and (min-width: 0px) and (max-width: 900px) {
  #kaiyuan .ky-main {
    flex-direction: column;
  }
  #kaiyuan .ky-main .right {
    width: 90%;
  }
}
